<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858643233310-llfnlq6itfj00culfb2fsenri95t2r3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858643233310-llfnlq6itfj00culfb2fsenri95t2r3a</string>
	<key>API_KEY</key>
	<string>AIzaSyA_iqN2W7wfWAHelkvNVfPGGhY1xWpjxL4</string>
	<key>GCM_SENDER_ID</key>
	<string>858643233310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BRP.Lend-A-Book</string>
	<key>PROJECT_ID</key>
	<string>lend-a-book-e6980</string>
	<key>STORAGE_BUCKET</key>
	<string>lend-a-book-e6980.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:858643233310:ios:2af6aaee378688c9f44c0f</string>
	<key>DATABASE_URL</key>
	<string>https://lend-a-book-e6980.firebaseio.com</string>
</dict>
</plist>
